#root,.App{
	height: 667px;
}
.am-tabs-default-bar-content{
	height: 40%!important;
}
.am-tabs-default-bar{
	height: 80%;
	z-index: 0;
}
.am-search {
  border-bottom: 1px solid #ddd;
}
.sub-title {
  color: #888;
  font-size: 14px;
  padding: 15px 0 9px 15px;
}
.not-square-grid .am-grid-icon {
  width: 40px;
  height: 60px;
}
.am-grid{
	width: 100%;
}
/* .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content{
	height: 100%;
	flex-direction: row;	
	padding: 0 0 0 10px;
	justify-content: left;
	align-items: flex-start;
} */
.not-square-grid .am-grid-icon{
	width: 120px;
	height: 180px;
	margin: 16px 15px 10px 0px;
}
.con_right{
	display: flex;
	flex-direction: column;
}
/* .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content .am-grid-text{
	background-color: #006600;
	width: 100%;
	height: 20%;
} */
.am-list{
	position: unset!important;
}