html,body{
	height: 100%;
   }
   body{
	   background-color: #fff;
   /*  background-image: url(../../assets/icons/背景.jpg);
	background-position: center;
	background-size: cover; */
   /*  background-color: #000080; */
   }
   .from{
	margin-top: 6rem;
	text-align: center;
	}

   .btn{
	margin: auto;
	margin-top: 2rem;
   }
   .logo{
	margin-top: 8rem;
   }
   .am-list{
	margin: 0 auto;
	width: 90%;
	background-color: transparent;
   }
   .am-list-body{
	background-color: transparent;
   }
  .am-list-item.am-input-item{
	background-color: transparent
   }
   .am-button-primary{
	background-color: rgb(246,1,0);
   }
   .bottom{
	margin-top: 1rem;
   }
   .am-list-item:not(:last-child) .am-list-line::after{
	   background: white!important;
   }
   .am-button{
	overflow: unset;
   }
   .am-list-body::before{
	   height: 0!important;
   }
   .am-list-body::after{
	  height: 0!important;
   }
   .am-button-primary::before{
	   border: none!important;
   }
   .am-list-line{
	   padding: 0 15px;
   }
  .am-list-item{
	   background-color: transparent;
   }