.doodsList{
    height: 460px;
    overflow:scroll;
}
.navBarg{
    display: flex;
    background-color: white;
}
.navBarg .shouye1{
    width: 28px;
    height:28px;
      /* background-image: url(../../assets/icons/home.png); */
      background-image: url(/static/media/Rhome.58ef44d4.png);
	background-position: center;
    background-size: cover;
    margin: 10px;
    margin-left: 20px;
   /*  background-color: #000080; */
}
.carttitle{
    margin-top: 28px;
    margin-left: 102px;
}
.navC{
    background-color: white!important;
}
.doodsList .am-list-thumb:first-child{
    padding-left: 3px;
}
.doodsList .am-list-brief:first-child{
    font-size: 14px!important;
}
.topbackground{
    background:linear-gradient(135deg,rgb(216, 53, 53), rgb(192, 48, 51));
    width: 100%;
    height: 120px;
    border-bottom-left-radius: 33%;
    border-bottom-right-radius: 33%;
    box-shadow: 5px 7px 25px #888888;
    /* 顺序为: offset-x, offset-y, blur-size, spread-size, color */
}
.nothing{
    text-align: center;
}
.kongche{
    height: 80px;
    width: 80px;
    background-color: #dfdddd;
    border-radius: 100%;
    margin: auto;
    margin-top: -33px;
    text-align: center;
}
.icon-gouwuche:before{
    color: white;
    font-size: 48px;
    /* margin-top: 10px; */
    line-height: 82px;
}
.description{
    font-size: 14px;
    color: black;
    padding: 12px;
}
.goAother{
    width: 50%;
    padding: 4px;
    /* height: 30px; */
    background-color: rgb(255,1,1);
    color: white;
    font-size: 14px;
    margin: auto;
    line-height: 30px;
}

.am-navbar{
    background-color: white;
    color: black;
}
.doodsList{
    width: 85%;
    padding: 4px;
    background-color: white;
    color: black;
    margin: auto;
    /* margin-top: -55px; */
    border-radius: 2%;
}
.topZiFont{
    font-size: 14px;
    padding-left: 86%;
    color: white;
    margin-top: -105px;
    padding-bottom: 18px;
}
/*checkbox样式*/
.am-list-body{
    border-top: none!important;
}
.count{
    display: flex;
    border-left: 1px solid #f5f5fd;
    margin-left: 71%;
}
.count>div{
    display: inline-block;
    border: 1px solid #f5f5fd;
    padding-left: 8px;
    padding-right: 8px;
    border-left: none;
}
.oneCartGoods{
    display: flex;
}
.oneCartGoods>div:first-child{
    /* flex: 1; */
    /* width: 50px; */
    /* //突然的变动 */
    text-align: center;
    /* line-height: 100%; */
    /* padding-top: 10px; */
    padding: 10px;
    padding-left: 5px;
}
.oneCartGoods>div:first-child>img{
    width: 60px;
    height: 60px;
    /* margin: auto; */
}
.cartDes{
    flex: 2;
}
.am-list-item .am-list-line .am-list-brief{
    margin-top: 0px!important;
}
.am-checkbox.am-checkbox-checked .am-checkbox-inner{
    /* background-color: rgb(209,35,36); */
    border-color:rgb(255,1,1)!important;
    background:rgb(255,1,1)!important;
}
.am-list .am-list-item.am-checkbox-item .am-list-thumb .am-checkbox-inner{
    top: 13px !important;
    left: 6px!important;
}
.am-checkbox-inner{
    width: 18px!important;
    height: 18px!important;
}
.am-list-item{
    padding-left: 0px!important;
}
.am-list-item .am-list-thumb:first-child{
    margin-right: 10px;
}
.am-checkbox-inner:after{
    top:2.3px!important;
    width: 4px!important;
    height: 8px!important;
}
/* 购物车结算 */
.order{
    
}
.zhifu{
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: white;
}
.zfLeft{
    flex: 1;
    padding: 10px 10px;
}
.zfLeft >div:first-child{
    padding-bottom: 5px;
}
.zhifu>div:last-child{
    width: 90px;
    background-color: red;
    /* line-height: 50%; */
    /* padding: 20px 0px; */
    text-align: center;
}
.dis{
    display: none;
}
.dis>div{
    display: none;
}
.jieSuan{
    display: flex;
    background-color: white;
    position: fixed;
    bottom: 50px;
    /* position: absolute; */

}
.jieSuan>div:last-child{
    width: 73px;
    background-color: rgb(255,1,1);
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 16px;
    /* line-height: ; */
}
.jieSuan>div:first-child{
    width: 100px;
    /* minWidth: 300px; */
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 150px;
    /* padding: 20px; */
}
/* .totalPrice{
    position: absolute;
    bottom: 0px;
} */
.bianJi{
    display: flex;
    position: absolute;
    bottom: 47px;
}
.bianJi>div:not(:first-child){
    width: 56px;
    padding: 16px;
    text-align: center;
    background-color: gold;
}
.bianJi>div:first-child{
    padding-right: 92px;
    padding-left: 20px;
    background-color: white;
}
.bianJi>div:last-child{
    background-color: rgb(209,35,36);
}
.showTips{
    /* width: 40px!important; */
    /* height: 30px; */
    padding: 10px 0px!important;
    background-color: #333!important;
    opacity: 0.8;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: -600%;
    left: 33%;
    z-index: 999;
    border-radius: 5px;
    animation: hidetip 5s 1;
      animation-fill-mode: forwards;
}
.noTips{
    /* width: 40px!important; */
    /* height: 30px; */
    width: 50px;
    padding: 10px 0px!important;
    background-color: #333!important;
    opacity: 0.8;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: -600%;
    left: 33%;
    z-index: 999;
    border-radius: 5px;
    animation: hidetip 5s 1;
      animation-fill-mode: forwards;
}
@keyframes hidetip {
    from {
      opcity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @-webkit-keyframes hidetip {
    from {
      opcity: 1;
    }
    to {
      opacity: 0;
    }
}
.navBar{
    background-color: white;
    /* position: fixed;
    top: 0; */
    /* width: 92%; */
    width: 100%;
    /* padding: 20px 10px; */
    text-align: left;
    padding-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
    /* line-height: 50%; */
}
.navBar span{
    margin-left: 30px;
    padding-bottom: 15px;

}
.reInfo,.addAddress{
    background:linear-gradient(135deg,rgb(255,1,1), rgb(248,65,67));
    padding: 20px 10px;
    color: white;
    width: 88%;
    border-radius: 5px;
    /* border-bottom-left-radius: 5px;
    border-bottom-ght-radius: 5px; */
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    /* display: flex; */
}
.addAddress{
    display: flex;

    /* display: inline-block; */
    /* margin: auto; */
}
.addAddress div:first-child{
    padding: 0px 10px;
    font-size: 20px;
    font-weight: 600;
}
.addAddress div:nth-child(2){
        padding: 5px 20px;

}

.reInfo>div:first-child{
    /* flex: 1; */
    /* background: yellow; */
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: bolder;

}
.reInfo>div:first-child>span{
    /* flex: 1; */
    /* background: yellow; */
    font-size: 13px;
    padding-bottom: 5px;

}
.reInfo>div:nth(2)-child{
    /* flex: 1; */
    background: yellow;
    font-size: 12px;
}
.order .reInfo .sanjiao{
    top:92px!important;
}
.goodsInfo{
    /* margin-top: 20px; */
    background-color: white;
    width: 88%;
    /* padding-top: 15px; */
    padding: 15px 10px;
    margin: auto;
    border-radius: 5px;

    /* box-sizing: border-box; */
}
.litte{
    padding-bottom: 16px;
    border-bottom: 1px solid #f0f0f0;
}
.oneGoodsFont{
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    
}
.oneGoodsFont>div{
    padding-right: 15px;
}
.imgFont>img{
    border-radius: 8px;
    width: 68px;
    height: 68px;
}
.ziEli{    
    width: 200px;
    overflow:hidden; 
    text-overflow:ellipsis; 
    white-space:nowrap; 
}
.ziA{
    font-size: 13px;
}
.lei{
    padding-bottom: 80px;
}
.lei>div{
    width: 88%;
    border-radius: 5px;
    margin: 10px auto;
    padding: 15px 10px;
    color: black!important;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.lei>div>span{
    color: #999;
    font-size: 13px;
    text-align: right;
}

.sanjiao{
    height: 10px;
    width: 10px;
    border-top:1px solid black  ;
    border-right:1px solid black  ;
    /* transform: rotate(45deg); */
	/* background-image: url(../../icon/Rhome.png); */
	/* background-position: center;
	background-size: cover; */
    /* border: none; */
    position: absolute;
    z-index: 999;
    top: 19px;
    left: 20px;
}
.navBar >.sanjiao{
    transform: rotate(-135deg);
}
.order .sanjiao{
    transform: rotate(45deg);
    position: absolute;
    top: 83px;
    left: 330px;
    border-color: white;
}
.carttitle{
    font-size: 18px;
    position: relative;
    right: 100px;
    bottom: 15px;
}
.lei>div>span>input{
    outline: none;
}
.am-button{
    background-color: red !important;
    border: 0 solid red !important;
    outline: none;
    outline-color: red


}
.am-whitespace.am-whitespace-lg{
    height: 0px !important;
}
.am-whitespace .am-whitespace-lg{
    height: 0px !important;
    padding: 0px;
}
.am-button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    /* width: 200%; */
    /* height: 200%; */
    border: 1PX solid red!important;
    border-radius: 10px;
    transform-origin: 0 0;
    transform: scale(0.5);
    box-sizing: border-box;
    pointer-events: none;
}